.morris-hover {
    position: absolute;
    z-index: 1090;
}

.morris-hover.morris-default-style {
    border-radius: 3px;
    padding: 6px;
    color: #fff;
    font-weight: 100;
    background: rgba(0, 0, 0, 0.3);
    font-size: 15px;
    text-align: center;
}

.morris-hover.morris-default-style .morris-hover-row-label {
    font-weight: 400;
    margin: 0.25em 0;
}

.morris-hover.morris-default-style .morris-hover-point {
    white-space: nowrap;
    margin: 0.1em 0;
}
