/* --------------------------------------
top MENU
-----------------------------------------*/

.navbar-default {
    border-color: transparent;
    background-color: #a44553;/*rgb(251,251,251);*/
    color: #9E9E9E;
    width: inherit;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #9E9E9E;
}
.navbar-default .navbar-collapse {
    border: none;
    box-shadow: none;
}
.navbar-default .navbar-toggle {
    border: none;
    margin-right: -10px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: none;
}
.navbar-default .nav li a, .navbar-default .nav li a:visited{
    color: #9E9E9E;
    font-family: PTSans;
    font-size: 14px;
    font-weight: 700;
    opacity: 0.7;
    padding: 15px 25px;
    line-height: 1;
    text-transform: uppercase;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.navbar-default .nav li a.active{
  color: #1080f2;
}
.navbar-default ul.nav{
  /*margin-bottom: 0px;
  margin-top: 5px;*/
  margin: 0 -15px 0 0!important;
  padding-left: 0!important;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
      color: #1080f2;
    opacity: 1;
}


.navbar-default.navbar-shrink .nav li a {
    opacity: 0.8
}
.navbar-default.navbar-shrink .nav .active a {
    opacity: 1
}
.navbar-default.navbar-shrink .nav li a:hover,
.navbar-default.navbar-shrink .nav li a:focus {
    outline: 0;
    color: #1080f2;
    opacity: 1;
    background: none;
}
.navbar-default.navbar-shrink .navbar-nav>.active>a:focus,
.navbar-default.navbar-shrink .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav a.active {
    border-radius: 0;
    background: none;
    opacity: 1;
    color: #1080f2!important;
}
@media(max-width:960px) {
  .navbar-default {
      border-color: transparent;
      background-color: rgb(251,251,251);
      width: inherit;
  }
  .navbar-default a.page-scroll, .navbar-default .navbar-header .navbar-toggle span{
    color: #9E9E9E!important;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color:#9E9E9E;
  }
  .navbar-default .navbar-header a img{
    content:url("/static/landingpage/img/Full-Logo.png");
  }

}
@media(min-width:960px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: rgb(251, 251, 251);
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }
    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: rgb(251, 251, 251);
        box-shadow: 0 1px 1px rgba(0,0,0,0.24), 0 0 1px rgba(0,0,0,0.12);
    }
    .navbar-default.navbar-shrink .nav li a {
        color: #9E9E9E;
    }
    .navbar-default.navbar-shrink .nav li:hover a,
    .navbar-default.navbar-shrink .nav li:focus a{
        color: #1080f2;
    }
    .navbar-default.navbar-shrink .navbar-header a img{
      content:url("/static/landingpage/img/Full-Logo.png");
    }
}
.sign_up{
  color: #fff!important;
  opacity:1!important;
}
.md-button.md-default-theme.md-warn.md-fab:not([disabled]).md-focused, .md-button.md-warn.md-fab:not([disabled]).md-focused, .md-button.md-default-theme.md-warn.md-fab:not([disabled]):hover, .md-button.md-warn.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-warn.md-raised:not([disabled]).md-focused, .md-button.md-warn.md-raised:not([disabled]).md-focused, .md-button.md-default-theme.md-warn.md-raised:not([disabled]):hover, .md-button.md-warn.md-raised:not([disabled]):hover {
    background-color: rgb(244,81,30);
}
/* --------------------------------------
end
-----------------------------------------*/
.logo img {
    height: 44px;
    width: auto;
}
.container {
  /*padding-right: 45px;
  padding-left: 45px;
  margin-right: auto;
  margin-left: auto;*/
  padding:0;
}


.nav > li > a {
    position: relative;
    display: block;
    padding-top: 20px;
}
#header{
  height: 68px;
}

/* 2.1 FONTS*/

@font-face {
    font-family: PTSans;
    font-weight: normal;
    src: url(/static/landingpage/fonts/PT_Sans-Web-Regular.ttf);
}
@font-face {
    font-family: PTSans;
    font-weight: bold;
    src: url(/static/landingpage/fonts/PT_Sans-Web-Bold.ttf);
}
@font-face {
    font-family: WorkSans;
    src: url(/static/landingpage/fonts/WorkSans-Light.ttf);
}
@font-face {
    font-family: 'Nucleo Outline';
    src: url('../fonts/nucleo-outline.eot');
    src: url('../fonts/nucleo-outline.eot') format('embedded-opentype'), url('../fonts/nucleo-outline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* end FONTS*/
/* --------------------------------------
7.FOOTER
-----------------------------------------*/

.footer_page {
    padding: 50px 0 40px 0;
    text-align: center;
    background-color: #273140;
    margin-top: 20px;
}
.footer_page .row{
  margin-right: 0px;
  margin-left: 0px;
}
.lower-footer span,
.lower-footer a {
    opacity: 0.2;
    color: white;
    font-family: PTSans;
    font-size: 12px;
    font-weight: 400;
    line-height: 40px;
    margin-right: 25px;
}
.lower-footer a {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.lower-footer a:hover {
    opacity: 1;
    text-decoration: none;
}
.lower-footer .pull-right a {
    margin: 0;
    margin-left: 35px;
    float: left;
    display: inline-block;
}
.lower-footer .fa {
    margin: 0;
    opacity: 1;
    font-family: FontAwesome;
    font-size: 20px;
    font-weight: 400;
    float: left;
    margin-right: 0;
}
.lower-footer {
    margin-top: 80px;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding-top: 40px;
    width: 100%;
    float: left;
}
.upper-footer {
    width: 100%
}
.upper-footer .pull-right {
    width: 670px;
}
.upper-footer .pull-left p {
    opacity: 0.2;
    max-width: 250px;
    margin-top: 30px;
    color: white;
    font-family: PTSans;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    line-height: 25px;
}
.footer-nav {
    float: left;
    max-width: 380px;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}
.footer-nav li {
    width: 120px;
    display: inline-block;
    float: left;
    margin-bottom: 30px;
}
.footer-nav li.el2 {
    width: 150px!important;
}
.footer-nav a {
    color: white;
    font-family: PTSans;
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    display: inline-block;
    text-align: left;
    float: left;
    line-height: 1;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.footer-nav a:hover {
    text-decoration: none;
    color: #1080f2
}
.footer-secondary-nav {
    float: left;
    padding: 0;
    width: auto;
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 50px;
    max-width: 280px;
}
.footer-secondary-nav li {
    display: inline-block;
    float: left;
    margin-bottom: 30px;
    width: 100%;
}
.footer-secondary-nav a {
    font-family: PTSans;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    float: left;
    line-height: 14px;
}
.footer-secondary-nav .fa {
    display: inline-block;
    margin-right: 15px;
    font-size: 18px;
    height: 14px;
    line-height: 13px;
}
.footer-secondary-nav .fa.fa-envelope {
    font-size: 14px;
}


/*-----------------------------------------------------------------*/

.orange_btn {
    border: solid 1px rgb(255,87,34)!important;
    border-radius: 4px;
    padding: 0px 20px;
    color: rgb(255,87,34)!important;
}

.img-responsive{
  float: none!important;
}

.md-button {
    display: inline-block!important;
    position: relative!important;
    cursor: pointer!important;
    min-height: 36px!important;
    min-width: 88px!important;
    line-height: 36px!important;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-grid-row-align: center;
    align-items: center;
    text-align: center;
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    padding: 0 6px!important;
    margin: 6px 8px!important;
    background: transparent;
    color: currentColor;
    white-space: nowrap!important;
    text-transform: uppercase!important;
    font-weight: 500!important;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}
