@font-face {
		font-family: "PTSansBold";
		src: url("/static/landingpage/fonts/PTSans-Bold.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}

@font-face {
		font-family: "PTSansRegular";
		src: url("/static/landingpage/fonts/PTSans-Regular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}

@font-face {
		font-family: "MyriadProRegular";
		src: url("/static/landingpage/fonts/PTSans-Regular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}

@font-face {
		font-family: "WorkSansLight";
		src: url("/static/landingpage/fonts/WorkSans-Light.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}
