@font-face {
			font-family: "f0";
			src: url("../fonts/RobotoRegular/RobotoRegular.eot");
			src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	@font-face {
			font-family: "f1";
			src: url("../fonts/RobotoLight/RobotoLight.eot");
			src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
			url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
			url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	@font-face {
			font-family: "f2";
			src: url("../fonts/RobotoMedium/RobotoMedium.eot");
			src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
			url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
			url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	@font-face {
			font-family: "f3";
			src: url("../fonts/RobotoBold/RobotoBold.eot");
			src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
			url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
.sign-buttons-col {
	float: left;
	text-align: center;
	width: 50%;
	padding-bottom: 4px;
	cursor: pointer;
	transition: 0.7s;
	border-bottom: 2px solid #CDCDCD;
}

.sign-divider {
	width: 120%;
	margin: 1.5em 0;
	margin-left: -10%;
	height: 3px;
	background: #4A79A7;
}

.sign-buttons-col:hover, .sign-buttons-col:active, .sign-buttons-col:focus {
	border-color: #AA5552;
}

.sign-buttons-col:hover a, .sign-buttons-col:focus a, .sign-buttons-col:active a{
	color: #AA5552;
	text-decoration: none;
}

.sign-buttons-col a {
	text-decoration: none;
	font-size: 1.1em;
	transition: 0.7s;
	text-transform: uppercase;
	font-family: 'f2';
	color: #CDCDCD;
}

.active {
	border-color: #AA5552;
}

.active a {
	color: #AA5552;
}


.sign-buttons {
	width: 90%;
	margin: 0 auto;
}



/*socials*/

.sign-socials {
	width: 90%;
	text-align: center;
	margin: 2em auto;
}

.sign-socials a {
	width: 33.3%;
	float: left;
	display: block;
	font-size: 25px;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

.sign-socials a .fa{
	padding: 12px 0;
	width: 50px;
	border-radius: 3px;
}

.sign-socials a .fa-google-plus {
	background: #DB4E32;
}

.sign-socials a .fa-facebook {
	background: #3B5997;
}

.sign-socials a .fa-twitter {
	background: #48B1E8;
}
.sign-socials a:hover .fa, .sign-socials a:focus .fa {
	opacity: .8;
}

/*socials*/

/*sign-form*/
.forgot-link {
	color: #969696;
	font-size: 13px;
	right: 0;
	cursor: pointer;
	position: absolute;
	text-decoration: none;
}

.sign-form {
	width: 90%;
	margin: 2em auto;

}

.sign-form input[type = "text"] {
	  font-size:17px;
  padding:10px 10px 10px 5px;
  display:block;
  background: none;
  color: #000;
  font-family: 'f2';
  width:100%;
  margin: 0 auto;
  border:none;
  border-bottom:1px solid #9A9A9A;
}


.sign-form input[type = "text"]:focus {
  outline:none;
  border-color: #477BB4;
}

.sign-form input[type = "password"] {
	  font-size:17px;
  padding:10px 10px 10px 5px;
  display:block;
  background: none;
  color: #000;
  font-family: 'f2';  width:100%;
  margin: 0 auto;
  border:none;
  border-bottom:1px solid #9A9A9A;
}


.sign-form input[type = "password"]:focus {
  outline:none;
  border-color: #477BB4;
}

.sign-form .group 			  { 
  position:relative; 
  width:100%;
  margin: 1.5em auto; 
}

.sign-form .group-button {
  position:relative; 
  width:100%;
  margin: 3em auto; 
}

.sign-form label 				 {
  color:#8E8E8E; 
  font-size:11px;
  font-weight:normal;
  text-transform: uppercase;
  position:absolute;
  pointer-events:none;
  left:5px;
  font-family: 'f0';
  top:-2px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}


.sign-form input[type = "button"] {
	display: block;
	width: 100%;
	color: #fff;
	font-family: 'f2';
	background: #E63935;
	padding: 10px 0;
	font-size: 15px;
	text-transform: uppercase;
	border: 2px solid #E63935;
	border-radius: 2px;
}

.sign-form input[type = "button"]:hover, .sign-form input[type = "button"]:focus {
	background: none;
	color: #E63935;
}
  .sign-form .different-email {
	display: block;
	width: 100%;
	cursor: pointer;
	color: #E63935!important;
	margin:.7em 0;
	text-decoration: none;
	font-family: 'f3';
	background: #fff!important;
	border: 2px solid #E63935;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
	transition: .5s;
	font-size: 15px;
	text-transform: uppercase;
	border-radius: 2px;
}
 .sign-form .different-email:hover{
 	color: #fff!important;
 	background: #E63935!important;
 }
.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
 
.checkbox + label {
  cursor: pointer;
    user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
  font-size: 13px;
}
 
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
  position: relative; 
  text-transform: none;
   padding: 0 0 0 60px;  
  pointer-events:auto;
}

.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 50px;
  height: 20px;
  border-radius: 13px;
  background: #fff;
  border:2px solid #969696;
}
 
.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #FFF;
  border:2px solid #969696;
  transition: all .2s;  
}
 
.checkbox:checked + label:before {
  background: #d1f7b7;
}
 .checkbox:checked + label:after {
  left: 26px;
}
 .checkbox:focus + label:before {
 }

.group .fa-check-circle {
	position: absolute;
	top: 20px;
	display: none;
	right: 10px;
	color: #6FAF58;
}
 
.info {
	text-align: center;
	padding: 5px;
	font: 'f1';
	display: none;
	color: #E63935;
}
/*sign-form*/
.remodal p {
	line-height: 1.2em;
	font-family: 'f0';
}

.simple-href {
	color: #5185AA;
}

.simple-href:hover, .simple-href:focus {
	color: #5185AA;
}


/*forgot_1*/


.forgot1-header {
	width: 100%;
	margin: .5em auto 4em;
}

.forgot1-header h5{
	text-transform: uppercase;
	font-family: 'f3';
	font-size: 1.2em;
	padding-bottom: .4em;
	color: #666666;
	text-align: center;
	border-bottom: 2px solid #E63935;
}

/*forgot_1*/




/*forgot-2*/

.buttons-check-email {
	width: 90%;
	margin: 3.5em auto 4em;
}

.forgot-header {
	width: 100%;
	margin: 2em auto;
}

.forgot-header h5 {
	text-align: center;
	font-family: 'f3';
	color: #666666;
}

.buttons-check-email .reset {
	display: block;
	margin:.7em 0;
	cursor: pointer;
	width: 100%;
	color: #fff;
	font-family: 'f2';
	background: #E63935;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	transition: .5s;
	text-transform: uppercase;
	border: 2px solid #E63935;
	border-radius: 2px;
}

.buttons-check-email .reset:hover, .buttons-check-email .reset:focus {
	background: none;
	color: #E63935;
}

  .different-email {
	display: block;
	width: 100%;
	cursor: pointer;
	color: #E63935;
	margin:.7em 0;
	text-decoration: none;
	font-family: 'f3';
	background: #fff;
	border: 2px solid #E63935;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
	transition: .5s;
	font-size: 15px;
	text-transform: uppercase;
	border-radius: 2px;
}

.buttons-check-email .different-email:hover, .buttons-check-email .different-email:focus {
	background: #E63935;
	color: #fff;
}


/*forgot_2*/
#forgot-second-step {
	padding: 10px 0;
	position: absolute;
	top: 3%;
	display: none;
	z-index: 10000000000000000000;
	box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
	background: #fff;
	left: 5%;
	width: 90%;
	margin: 0 auto;
}

#forgot-second-step .fa-times {
	color: #84868C;
	margin-left: 5px;
	font-weight: 400;
	cursor: pointer;
}

.forgot-wrapper1 {
	padding: 10px 0;
	position: absolute;
	top: 3%;
	display: none;
	z-index: 10000000000000000000;
	box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
	background: #fff;
	left: 5%;
	width: 90%;
	margin: 0 auto;
}
 
.forgot-wrapper1 .fa-times {
	color: #84868C;
	margin-left: 5px;
	font-weight: 400;
	cursor: pointer;
}


@media(max-width: 321px){
	.forgot-link {
	cursor: pointer;
	color: #969696;
	font-size: 13px;
	width: 100%;
	display: block;
	text-align: center;
	position: static;
	text-decoration: none;
}
}