 body {
  overflow-x: hidden;
 }
 p {
      font-family: 'PT Sans', sans-serif;
 }
 h2 {
      font-size: 30px;
      font-family: 'PT Sans', sans-serif;
 }
 nav ul a {
  font-size: 14px;
  line-height: 2.2;
 }
 nav ul a:hover {
  color: #e83b35
 }
 nav .brand-logo {
  position: relative;
  display: initial;
  top: 10%;
      left: 0;
 }
 .center {
 	text-align: center;
 }
 .right {
  text-align: right;
 }
 .left {
  text-align: left;
 }
 .text-center {
  text-align: center; 
 }
.no-pad-bot h1 {
 	font-size: 39px;
  font-family: 'Work Sans', sans-serif;
 }
.no-pad-bot {
  color: #464646;
  text-align: center;
 }
 .no-pad-bot p{
  font-family: 'PT Sans', sans-serif;
 }
.demo {
  vertical-align: bottom;
  width: 100%
}
.demo1 {
  display: none;
  vertical-align: bottom;
}
.cta-butt {
    background: rgb(232, 59, 53);
    border-radius: 2px;
    color: #fff;
    font-weight: 500;
    padding: 0 44px;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin-bottom: 15px;
}
.btn:focus {
  background: rgb(232, 59, 53);
}
.cta-butt:hover {
    background: #fff;
    box-shadow: 0 8px 8px rgba(0,0,0,0.24), 0 0 8px rgba(0,0,0,0.12);
    color: #464646;
}
.cta-butt-2 {
    background: #fff;
    border-radius: 2px;
    color: #eb5853;
    font-weight: 500;
    padding: 0 44px;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin-bottom: 15px;
}
.cta-butt-2:hover {
    background: #f2120a;
    box-shadow: 0 8px 8px rgba(0,0,0,0.24), 0 0 8px rgba(0,0,0,0.12);
    color: #f2f2f2;
}
.header-mob {
  display: none;
}
.phone-img {
  max-height: 450px;
}
.button-collapse {
  color: #464646
}
.side-nav {
  text-transform: uppercase;
  z-index: 1000;
}
#sidenav-overlay {
  display: none;
}
.side-nav li > a.btn {
  color: #212121;
}
.in-butt {
  color: #bcbcbc;
    background-color: transparent;
    border: 2px solid;
    box-shadow: none;
    line-height: 2.2;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}
.in-butt:hover {
  color: #fff;
    background-color: #e83b35;
    border: 2px solid #e83b35;
    box-shadow: none;
}
.up-butt:hover {
    color: #fff;
    background-color: #b12b26;
    border: 2px solid #b12b26;
}
.up-butt {
    line-height: 2.2;
    font-size: 14px;
    color: #fff !important;
    background-color: #e83b35;
    border: 2px solid #e83b35;
    font-family: 'PT Sans', sans-serif;
}
nav .button-collapse {
    float: right;
    }
    nav {
    position: fixed;
}
button {
    width: 100%;
    background: transparent;
    border: 2px solid #999999;
    border-radius: 5px;
    padding: 5px;
}
button:focus {
    outline: none;
    background-color: transparent;
}
.icon-block {
	text-align: center;
  font-family: 'PT Sans', sans-serif;
}
.icon-block a {
	color: #999999;
}
.icon-block:hover a {
	color: #333a40;
}
.icon-block:hover button {
	border: 2px solid #333a40;
}
.icon-block {
  padding: 20px 35px;
  background: url('../bg-info.jpg');
      min-height: 450px;
    margin-bottom: 25px;
        position: relative;
}
.icon-block .material-icons {
	font-size: inherit;
}
.icon-block:hover .gradient-text {
	background: linear-gradient(to bottom, rgba(107, 107, 107, 1) 0%, rgba(107, 107, 107, 1) 100%);
	  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon-block:hover {
-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
}
.navigation {
	background: url('../bg-nav.jpg');
	background-position: left;
	-webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0 rgba(0, 0, 0, 0.12), 0 0px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0 rgba(0, 0, 0, 0.12), 0 0px 0px 0px rgba(0, 0, 0, 0.2);
}
.section.no-pad-bot {
	background: url('../bg-body.jpg') no-repeat;
	background-position: bottom;
}
.section-info {
	padding-top: 100px;
}

.gradient-text {
  font-size: 14px;
  background: linear-gradient(to bottom, rgba(107, 107, 107, 1) 0%, rgba(0, 0, 0, 0.0) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #6b6b6b;
  display: table;
  margin: 20px auto;
}
.button {
    position: absolute;
    bottom: 10%;
    display: inline-block;
    width: 80%;
        left: 10%;
}
.page-footer {
	background: #273140
}
.footer-block{
	border-bottom: 1px solid #323c4a
}
.footer-copyright p{
	font-size: 12px;
  color: rgba(255,255,255, 0.2);
    font-family: 'PT Sans', sans-serif;
    display: inline-block;
}
.footer-copyright a{
  font-size: 12px;
  color: rgba(255,255,255, 0.2);
    font-family: 'PT Sans', sans-serif;
}
.hide-on-med-and-down {
  padding: 20px 0;
}
.hide-on-med-and-down li{
  text-transform: uppercase;
  line-height: 2;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}
nav ul a:hover {
    background-color: rgba(0, 0, 0, 0.0);
}
.footer-text {
  color: rgba(255,255,255, 0.2);
    font-family: 'PT Sans', sans-serif;
}
.footer-link {
  text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}
.footer-link p{
  color: #686d75
}
.footer-link a{
  color: #fff;
  cursor: pointer;
  letter-spacing: .1em
}
.chart {
  text-align: right;
}
.line {
    background: #e53935;
    margin-top: 20px;
    width: 100%;
    height: 3px;
}
.right-img {
    display: block;
    position: absolute;
    left: 55%;
}
.left-img {
    margin-top: 100px;
}
.rules-img {
    margin-top: 50px;
}
.authentication-img {
    margin-top: 50px;
}
.section-features h2 {
  margin-top: 0;
}
.section-features {
  background: #f6f6f6;
  padding-top: 95px;
}
.section-rules {
  background: #f6f6f6;
}
.text-left {
  background: url(../roule-engine.png) no-repeat left top;
    margin-top: 120px;
}
.text-left2 {
  background: url(../black-list.png) no-repeat left top;
    margin-top: 190px;
}
.text-right {
  background: url(../risk-score.png) no-repeat left top;
    margin-top: 120px;
}
.text-right2 {
  background: url(../factor-authentication.png) no-repeat left top;
    margin-top: 190px;
}
.text {
    margin-left: 100px;
}
.title-features {
    font-size: 24px;
    font-weight: 100;
    margin: 0;
    padding: 0;
}
.desc-features {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 100;
    line-height: 30px;
    text-align: justify;
    color: #666666;
    padding: 0;
}
.section-authentication {
  padding-bottom: 60px;
}
nav .nav-wrapper i {
      line-height: 30px;
}
i.right {
    float: right;
    margin-left: 0px;
}
#dropdown1 {
  top: 80%!important;
  min-width: 250px;
}
.dropdown-content li > a {
      color: #464646;
      font-size: 14px;
}
.section-about {
  background: #f8f8f8;
      padding: 100px 0;
}
.head{
margin-top: 0;
    margin-bottom: 25px;
    font-size: 50px;
    letter-spacing: -1px;
    line-height: 40px;
}
.section-about li {
  background: url(../checked.png) no-repeat left 20px;
    padding-left: 40px;
    list-style: none;
    margin: 0;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 60px;
}
.sub {
      margin-bottom: 30px;
    margin-top: 5px;
    line-height: 25px;
}
.about-img {
  position: absolute;
}
.btn-about {
      margin-top: 50px;
}
.sep {
    width: 30px;
    height: 2px;
    display: block;
    margin: auto;
    background-color: #e83b35;
}
.pricing-title {
        background-color: #e83b35;
    border-radius: 2px 2px 0 0;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 62px;
    height: 60px;
}
.section-pricing .container .row {
    margin-left: 0rem;
    margin-right: 0rem;
        margin-bottom: 0;
}
.section-pricing {
	font-family: 'PT Sans', sans-serif;
}
.pricing-title-white {
    border-radius: 2px 2px 0 0;
    text-align: center;
    color: #666;
    font-size: 16px;
    font-weight: 700;
    line-height: 62px;
    height: 60px;
    border: 2px solid #e6e6e6;
    border-top: none;
}
.pricing .button-container {
    text-align: center;
    position: relative;
    padding: 42px 0 45px 0;
    width: 100%;
    margin: 0;
    height: auto;
    background: none;
}
.pricing .pricing-price {
    font-size: 60px;
    letter-spacing: -2px;
    line-height: 42px;
    display: inline-block;
}
.pricing .pricing-time {
    font-weight: 300;
    letter-spacing: -1px;
    margin-top: 5px;
    font-size: 30px;
}
.pricing .billing-time {
    color: #b3b3b3;
    font-size: 14px;
    line-height: 14px;
    margin-top: 8px;
}
.pricing-title-red {
    border-radius: 2px 2px 0 0;
    text-align: center;
    background-color: #ff5b56;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 62px;
    height: 60px;
    border-bottom: 2px solid #e6e6e6;
    border-top: none;
}
.pricing .price-num {
    padding: 50px 0 20px 0;
    font-weight: 300;
    line-height: 25px;
    color: #e83b35;
    width: 100%;
    text-align: center;
}
.pricing .price-num-active {
    padding: 50px 0 20px 0;
    font-weight: 300;
    line-height: 25px;
    color: #fff;
    width: 100%;
    text-align: center;
}
.alldprice {
    position: relative;
    left: 60%;
    z-index: 10;
    font-size: 25px;
    color: #fff;
}
.pricing.active {
    background-color: #e83b35;
    border: 2px solid #e83b35;
    opacity: 0.85;
    border-top: 0;
}
.pricing {
    overflow: hidden;
    position: relative;
    border: 2px solid #e6e6e6;
    border-top: none;
    border-bottom: 2px solid #e6e6e6!important;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 100%;
    margin: 0;
}
.pricing div.list {
    padding: 5px;
    color: #666;
    padding-left: 10px;
}
.pricing div.list:nth-child(2n+1) {
    background-color: #e6e6e6;
}
.active div.list:nth-child(2n+1) {
	background-color: #e7726e;
}
.active div.list {
	color: #fff
}
.list img {
    width: 7%;
    height: 7%;
    margin-right: 10px;
}
.ribbon {
    display: block;
    height: 60px;
    width: 60px;
    position: absolute;
    margin-left: -10px;
    margin-top: -8px;
    z-index: 1;
}
.best-seller {
    display: block;
    height: 35px;
    width: 35px;
    position: absolute;
    margin-left: -2px;
    margin-top: -1.5px;
    z-index: 2;
}
.ribbon-left {
    display: block;
    height: 5px;
    width: 5px;
    position: absolute;
    margin-left: 41px;
    margin-top: -5px;
    z-index: 0;
}
.ribbon-top {
    display: block;
    height: 5px;
    width: 5px;
    position: absolute;
    margin-left: -5px;
    margin-top: 41px;
    z-index: 0;
}
.pricing-option {
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    color: #666;
    font-size: 16px;
}
.pricing-option-2 {
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    font-size: 16px;
}
.pricing-price4, .pricing-price4 i {
    font-size: 60px;
    letter-spacing: 2px;
    line-height: 60px;
    display: inline-block;
}
.pricing-price4 {
    color: #e83b35;
}
	.contact_btn_left {
    background: rgba(255,255,255,0.87);
    border-radius: 2px;
        color: #e83b35;
    font-weight: 500;
    padding: 30px 100px;
    -webkit-transition: all .3s;
    transition: all .3s;
        border: 2px solid;
    font-size: 18px;
    min-height: 36px;
    min-width: 88px;
    line-height: 0px;
}
.contact_btn_left:hover {
    background: #e83b35;
    border-radius: 2px;
        color: #fff;
    font-weight: 500;
    -webkit-transition: all .3s;
    transition: all .3s;
        border: 2px solid #e83b35;
    font-size: 18px;
}
.contact_btn_left span{
line-height: 36px;
}
.section-contact {
    margin-top: 70px;
    background-color: #f8f8f8;
    position: relative;
    padding: 100px 0;
    font-family: 'PT Sans', sans-serif;
}
.contact-map-container {
    position: absolute;
    height: 100%;
    width: 50%;
        left: -8% !important;
    top: 0
}
.contact-form-container {
    float: right;
    width: 570px;
}
.form-group {
    margin-bottom: 30px;
    float: left;
    width: 270px;
    position: relative;
}
.form-group input, .form-group textarea {
    padding: 20px;
    float: left;
    border-radius: 2px;
    resize: none;
}
.form-group input.form-control {
    border-radius: 2px;
        width: 270px;
    height: 50px;
    background-color: white;
    padding: 0 20px;
    line-height: 50px;
    border: 1px solid #ccc;
}
.pull-right {
    float: right !important;
}
.text-center {
    text-align: center!important;
    line-height: 22px!important;
    padding: 0 15px;
}
.btn-submit {
	color: #fff;
    background-color: #e83b35;
        padding: 26px 0px;
    line-height: 0;
}
.btn-submit:hover {
        background-color: #ad302b;
}
.input-field .prefix ~ input, input[type=tel]:not(.browser-default):focus:not([readonly]), .input-field .prefix ~ textarea
	{
    border-bottom: 1px solid #e83b35;
    -webkit-box-shadow: 0 1px 0 0 #e83b35;
    box-shadow: 0 1px 0 0 #e83b35;
}
input:not([type]):focus:not([readonly]) + label, input[type=text]:not(.browser-default):focus:not([readonly]) + label, input[type=password]:not(.browser-default):focus:not([readonly]) + label, input[type=email]:not(.browser-default):focus:not([readonly]) + label, input[type=url]:not(.browser-default):focus:not([readonly]) + label, input[type=time]:not(.browser-default):focus:not([readonly]) + label, input[type=date]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label, input[type=tel]:not(.browser-default):focus:not([readonly]) + label, input[type=number]:not(.browser-default):focus:not([readonly]) + label, input[type=search]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
	 color: #e83b35;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
	border-bottom: 1px solid #e83b35 !important;
    -webkit-box-shadow: 0 1px 0 0 #e83b35 !important;
    box-shadow: 0 1px 0 0 #e83b35 !important;
}
.input-field .prefix.active {
    color: #e83b35;
}
label.active {
	color: #e83b35
}
.short_text {
    overflow: hidden;
   max-height: 12.5em;
    position: relative;
}
.hidden {
	visibility: hidden;
}
#short_text h2 {
    color: #999!important;
    font-size: 1em;
    margin-bottom: 1em;
    line-height: 1.25em;
}
#short_text p {
	    color: #999!important;
    font-size: 1em;
    margin-bottom: 1em;
    line-height: 1.25em;
}
.text-description-more {
    text-align: right;
    padding-bottom: 2em;
    padding-top: 1em;
}
.contact-form-container {
	    float: right !important;
}
.side-nav li > a.btn:hover {
  background-color: #e83b35;
}
/*////////////////////////MEDIA////////////////*/
@media only screen and (min-device-width: 992px) and (max-device-width: 1300px){
 nav ul a {
      font-size: 10px;
 }
.in-butt {
  font-size: 10px;
}
.up-butt {
  font-size: 10px;
}
.btn-menu {
  height: 22px;
}
nav ul a {
  padding: 0 10px;
}
nav ul a.btn{
      margin-top: -15px;
}

}
@media only screen and (max-device-width: 992px){
nav .brand-logo {
  float: right;
  left: 20%;
  top: 0%;
}
nav .button-collapse {
    float: left;
}
nav .nav-wrapper i {
    line-height: 56px;
}
.side-nav .collapsible-header {
      padding: 0 32px;
}
.waves-effect.waves-teal .waves-ripple {
  background-color: #fd716c;
}

}
@media only screen and (min-device-width: 769px) and (max-device-width: 1200px) {
.demo {
  width: 100%
}
.right-img {
    display: inline;
    position: static;
    margin-top: 100px !important;
    max-width: 600px;
}
.about-img {
    margin: 40px auto;
    max-width: 60%;
    position: relative;
    top: auto;
    right: auto;
    display: block;
    max-height: 400px;
}
.center-img {
	text-align: center !important;
	float: none !important;
}
.pricing-price4, .pricing-price4 i {
    font-size: 20px;}
}
@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {
.header-mob {
      font-size: 30px;
      text-align: center;
        font-family: 'Work Sans', sans-serif;
        display: block;
}
.section.no-pad-bot {
  background-position: top;
}
.section-info {
  padding-top: 25px;
}
.gradient-text {
  background: linear-gradient(to bottom, rgba(107, 107, 107, 1) 0%, rgba(107, 107, 107, 1) 100%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.demo {
  width: 100%
}
.right-img {
    display: inline;
    position: static;
    margin-top: 50px !important;
    max-width: 600px;
}
.left-img {
	width: 100%
}
.rules-img {
	width: 100%
}
.authentication-img {
	width: 100%
}
.about-img {
    margin: 40px auto;
    max-width: 60%;
    position: relative;
    top: auto;
    right: auto;
    display: block;
    max-height: 400px;
}
.rules-img {
	width: 100%
}
.center-img {
	text-align: center !important;
	float: none !important;
}
.pricing-price4, .pricing-price4 i {
    font-size: 20px;}
.contact_btn_left {
	    padding: 30px 50px;
}
.contact-map-container {
    position: relative;
    width: 100%;
        left: 0% !important;
}
.section-features {
	padding-top: 0px;
}
.text-left2 {
	margin-top: 50px
}
.section-authentication {
	padding-bottom: 0px;
}
.section-about {
	    padding: 20px 0;
}
.short_text {
	    max-height: 12.0em;
}
.head {
	    font-size: 35px;

}
nav .brand-logo {
  float: right;
  left: 20%;
  top: 0%;
}
nav .button-collapse {
    float: left;
}
nav .nav-wrapper i {
    line-height: 56px;
}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
.no-pad-bot img {
  width: 100%
}
.demo {
  width: 100%
}
.right-img {
    display: inline;
    position: static;
    margin-top: 20px !important;
    max-width: 320px;
}
.left-img {
	width: 100%
}
.rules-img {
	width: 100%
}
.authentication-img {
	width: 100%
}
.about-img {
    margin: 40px auto;
    max-width: 60%;
    position: relative;
    top: auto;
    right: auto;
    display: block;
    max-height: 400px;
}
.rules-img {
	width: 100%
}
.center-img {
	text-align: center !important;
	float: none !important;
}
.contact-map-container {
    position: relative;
    width: 100%;
        left: 0% !important;
}
.no-pad-bot h1 {
      font-size: 25px;
}
.center-img {
	text-align: center !important;
	float: none !important;
}
.pricing-price4, .pricing-price4 i {
    font-size: 20px;}
.contact_btn_left {
	    padding: 30px 50px;
}
.contact-map-container {
    position: relative;
    width: 100%;
        left: 0% !important;
}
.section-features {
	padding-top: 0px;
}
.text-left2 {
	margin-top: 50px
}
.section-authentication {
	padding-bottom: 0px;
}
.section-about {
	    padding: 20px 0;
}
.short_text {
	    max-height: 12.0em;
}
.head {
	    font-size: 35px;
}
nav .brand-logo {
  float: right;
  left: 25%;
  top: 0%;
}
nav .button-collapse {
    float: left;
}
nav .nav-wrapper i {
    line-height: 56px;
}
}