body {
	position: relative;
	background: #fff;
}
.container {
	width: 100%;
}
#wrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
}

header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}
.header-logo {
	float: left;
	display: inline-block;
	margin: 11px 0 0 -2px;
}
.header-logo > img {
	width: 225px;
	height: auto;
}
.header-menu-btn {
	float: right;
	display: inline-block;
	margin: 25px 0 0 0;
	padding: 8px;
	width: 47px;
	height: 46px;
}
.header-menu-btn > span {
	display: block;
	margin-bottom: 7px;
	width: 31px;
	height: 3px;
	background: #fff;
}
.header-menu-btn.menu-opened {
	background: url("/static/landingpage/mob/img/header-btn-cross.png") no-repeat 10px 6px;
}
.header-menu-btn.menu-opened > span {
	display: none;
}

.s1 {
	position: relative;
	height: 1136px;
	background: url("/static/landingpage/mob/img/s1-bg.jpg") no-repeat center top;
	background-size: cover;
}
.s1-top-buttons {
	margin: 124px auto 101px;
	/*width: 564px;*/
}
.s1-top-buttons > * {
	margin: 0;
	width: 272px;
	height: 63px;
	border-radius: 3px;
	font: 24px/63px 'PT Sans', sans-serif;
	font-weight: 700;
	text-align: center;
}
.s1-top-buttons > *:hover,
.s1-top-buttons > *:focus {
	text-decoration: none;
}
.s1-top-buttons > *:nth-child(1) {
	float: left;
}
.s1-top-buttons > *:nth-child(2) {
	float: right;
}
.s1-top-buttons > .signin {
	border: 2px solid #b8d8f9;
	color: #b8d8f9;
}
.s1-top-buttons > .signup {
	color: #e83b35;
	background: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.s1-text {
	text-align: center;
	color: #fff;
}
.s1-title {
	font: 44px/1.15 'Work Sans', sans-serif;
	font-weight: 300;
}
.s1-title-info {
	margin: 16px 0 0;
	padding: 0 5px;
	font: 24px/1.2 'PT Sans', sans-serif;
}
.trial-btn {
	display: block;
	margin: 0 23px 0;
	height: 63px;
	border-radius: 2px;
	font: 24px/63px 'PT Sans', sans-serif;
	font-weight: 700;
	text-align: center;
	text-decoration: none !important;
	background: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

}
.s1 .trial-btn {
	margin-top: 80px;
	color: #1080f2 !important;
	background: #fff;
}
.s1-charts {
	position: absolute;
	left: 0;
	bottom: 19px;
}

.s2 {
	padding: 54px 0 77px;
}
.sec-title {
	padding: 0 8px;
	font: 36px 'Work Sans', sans-serif;
	text-align: center;
	color: #444444;
}
.s2-video {
	margin: 29px -15px 0;
	text-align: center;
}
.s2-text {
	position: relative;
	margin: 56px 21px 0;
	text-align: justify;
}
.s2-text p {
	margin: 17px 0 0;
	font: 20px/1.4 'PT Sans', sans-serif;
	color: #333333;
}
.s2-text p span {
	position: relative;
	left: 32%;
}
.s2-text:before {
	content: "";
	position: absolute;
	left: 2px;
	top: -25px;
	width: calc(100% - 5px);
	height: 2px;
	background: #e53935;
}

.s3 {
	height: 329px;
	background: url("/static/landingpage/mob/img/s3-bg.png") no-repeat center top;
	background-size: cover;
}
.s3-logo {
	display: inline-block;
	margin: 51px 0 0 21px;
}
.s3-slides {
	margin-top: 1px;
}
.s3-slide {
	height: 183px;
	text-align: center;
	outline: none;
}
.s3-slide-title {
	line-height: 1.1;
	color: #fff;
}
.s3-slide-text {
	margin: -7px 0 0;
	font: 20px 'PT Sans', sans-serif;
	color: #fff;
}
.s3-slides .slick-dots {
	position: absolute;
	margin: -20px 0 0;
	padding: 0;
	list-style: none;
	left: 50%;
	transform: translateX(-50%);
}
.s3-slides .slick-dots > li {
	display: inline-block;
	margin-right: 5px;
}
.s3-slides .slick-dots > li > button {
	margin: 0;
	padding: 0;
	width: 8px;
	height: 8px;
	border: 0;
	border-radius: 50%;
	font-size: 0;
	background: #b8d8f9;
}
.s3-slides .slick-dots > li.slick-active > button {
	background: #fff;
}
.s3-slides .slick-dots > li:last-child {
	margin-right: 0;
}

.s4-block {
	margin: 0 -15px;
	background: #fff url("/static/landingpage/mob/img/s4-block-bg.png") repeat 0 0;
}
.s4-block:nth-child(1) {
	padding: 73px 0 32px;
}
.s4-block:nth-child(2) {
	padding: 80px 0 40px;
}
.s4-block:nth-child(3) {
	padding: 80px 0 36px;
}
.s4-block:nth-child(4) {
	padding: 52px 0 36px;
}
.s4-block.gray {
	background: #f8f8f8;
}
.s4 .sec-title {
	position: relative;
	margin: 0 0 54px 27px;
	text-align: left;
}
.s4 .sec-title:after {
	content: "";
	position: absolute;
	left: 12px;
	bottom: -24px;
	height: 2px;
	width: calc(100% - 50px);
	background: #e53935;
}
.s4-block-img {
	text-align: center;
}
.s4-block-info {
	margin-top: 32px;
}
.s4-block:nth-child(4) .s4-block-info {
	margin-top: 17px;
}
.s4-block:nth-child(2) .s4-block-info {
	margin-top: 28px;
}
.s4-block-info-icon > img {
	display: inline-block;
	margin: 8px 0 0 38px;
	width: 68px;
	height: auto;
}
.s4-block-info-title {
	font: 24px 'PT Sans', sans-serif;
	font-weight: 700;
	color: #444444;
}
.s4-block-info-text {
	margin: 18px 0 0 0;
	padding-right: 40px;
	font: 20px/1.4 'PT Sans', sans-serif;
	letter-spacing: -0.05px;
	color: #666666;
}
.s4-block-info-text.wide {
	padding-right: 29px;
}
.s4-block-left {
	padding: 0;
}
.s4-block-right {
	padding: 0 0 0 32px;
}
.s4 .trial-btn {
	margin: 37px 38px 0;
	color: #fff;
	background: #e53935;
}
.s4-block:nth-child(4) .trial-btn {
	margin-top: 35px;
}

.s5 {
	padding: 57px 0 42px;
	background: #f8f8f8;
}
.s5 .sec-title {
	margin-bottom: 31px;
	padding-left: 0;
	letter-spacing: -0.1px;
	text-align: left;
}
.s5-text {
	position: relative;
	padding-left: 23px;
}
.s5-text-hidden {
	display: none;
}
.s5.text-opened .s5-text-hidden {
	display: block;
}
.s5-text p {
	margin-bottom: 12px;
	font: 20px/1.4 'PT Sans', sans-serif;
	color: #444;
}
.s5-text p b {
	font: 21px 'PT Sans', sans-serif;
	font-weight: 700;
	color: #444;
}
.s5-text:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 183px;
	/*background: url("/static/landingpage/mob/img/s5-bg.png") no-repeat 0 0;*/
}
.s5.text-opened .s5-text:after {
	display: none;
}
.s5-bottom {
	display: none;
	margin: 67px -15px 0;
	border-top: 2px solid #e7e4e4;
}
.s5-bottom-btn {
	display: block;
	margin: -2px auto 0;
	width: 67px;
	height: 67px;
	background: #fff;
	border: 2px solid #e7e4e4;
	border-radius: 0 0 3px 3px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.s5-bottom-btn >img {
	margin: 24px 0 0 14px;
}
.s5.text-opened .s5-bottom-btn >img {
	transform: rotate(180deg);
}
.s5.text-opened .s5-bottom {
	margin-top: 20px;
}

.s6 {
	padding: 54px 0 0;
}
.s6 .sec-title {
	color: #333;
}
.s6-title-info {
	margin: -3px 0 0;
	font: 24px 'PT Sans', sans-serif;
	text-align: center;
	color: #666;
}
.s6-prices {
	position: relative;
	margin: 26px 23px 0;
	padding-top: 53px;
}
.s6-prices:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 2px;
	background: #d1cfcf;
}
.s6-price {
	position: relative;
	margin-bottom: 95px;
}
.s6-price:nth-child(2) {
	margin-bottom: 99px;
}
.s6-price:nth-child(3) {
	margin-bottom: 106px;
}
.s6-price:nth-child(4) {
	margin-bottom: 103px;
}
.s6-price-name {
	position: relative;
	height: 60px;
	font: 18px/60px 'PT Sans', sans-serif;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background: #1080f2;
	border-radius: 2px 2px 0 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.s6-price-name.bestseller:before {
	content: "";
	position: absolute;
	left: -10px;
	top: -10px;
	width: 77px;
	height: 77px;
	background: url("/static/landingpage/mob/img/bestseller.png");
}
.s6-price-permonth {
	height: 46px;
	border: 1px solid #e6e6e6;
	border-top: 0;
	font: 20px/45px 'PT Sans', sans-serif;
	font-weight: 700;
	text-align: center;
	color: #e53935;
	background: #f2f2f7;
}
.s6-price-main {
	padding: 16px 0 30px;
	border: 1px solid #e6e6e6;
	border-top: 0;
	text-align: center;
	background: #f2f2f7;
}
.s6-price-main.blue {
	color: #fff;
	background: #3593f4;
}
.s6-price-main-title {
	margin: 0;
	font: 60px 'Work Sans', sans-serif;
	font-weight: 300;
	text-align: center;
	color: #444444;
}
.s6 .trial-btn {
	margin: 15px 30px 0 29px;
	border: 2px solid #1080f2;
	line-height: 60px;
	text-transform: uppercase;
	color: #1080f2;
	box-shadow: none;
}
.s6-price-main.blue .trial-btn {
	margin: 11px 28px -8px 30px;
	border: 2px solid #fff;
	color: #fff;
	background: transparent;
}
.s6 .trial-btn.gray {
	margin: 9px 30px 0 29px;
	background: #f2f2f7;
}
.s6-price-info {
	margin-top: 6px;
	padding: 0px 15px 0 15px;
	border-top: 2px solid #e7e4e4;
	background: #fff;
}
.s6-price.active .s6-price-info {
	margin-top: 0;
	padding: 36px 15px 0 15px;
	border-top: 0;
	background: #e6e6ea;
}
.s6-price-info ul {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
}
.s6-price.active .s6-price-info ul {
	display: block;
}
.s6-price-info ul li {
	margin-bottom: 5px;
	padding-bottom: 8px;
	border-bottom: 1px solid #f8f8f8;
	font: 20px 'PT Sans', sans-serif;
	color: #444444;
}
.s6-marker {
	margin-right: 15px;
	width: 22px;
	height: 22px;
}
.s6-price-info-btn {
	display: block;
	margin: -2px auto 0;
	width: 67px;
	height: 67px;
	border: 2px solid #e7e4e4;
	border-radius: 3px 3px 0 0;
	background: #fff;
}
.s6-price.active .s6-price-info-btn {
	margin: 7px auto 0;
}
.s6-price-info-btn > img {
	display: block;
	margin: 24px auto 0;
}
.s6-price.active .s6-price-info-btn > img {
	margin: 19px auto 0;
	transform: rotateX(180deg);
}
.s6-price:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -49px;
	width: 100%;
	height: 2px;
	background: #d1cfcf;
}
.s6-price:last-child:after {
	display: none;
}
.s6-price-nums {
	margin: -5px 0 0;
	font: 60px 'Work Sans', sans-serif;
	font-weight: 300;
	color: #1080f2;
}
.s6-price-main.blue .s6-price-nums {
	margin: 0;
	color: #fff;
}
.s6-price-nums > span:nth-child(1) {
	position: relative;
	top: -19px;
	font: 36px 'Work Sans', sans-serif;
}
.s6-price-nums > span:nth-child(2) {
	font: 30px 'Work Sans', sans-serif;
}
.s6-price-nums-info {
	margin: -5px 0 0;
	font: 14px 'Work Sans', sans-serif;
	font-weight: 300;
	color: #b2b2b2;
}
.s6-price-main.blue .s6-price-nums-info {
	color: #fff;
}
.s6-price:nth-child(2) .s6-price-permonth {
	height: 48px;
	line-height: 48px;
}
.s6-price-phone-desc {
	margin: 13px 0 16px;
	font: 20px 'PT Sans', sans-serif;
	color: #fff;
}
.s6-price-phone {
	margin-bottom: 20px;
	font: 60px 'Work Sans', sans-serif;
	font-weight: 300;
	color: #fff;
}

.s7 {
	padding: 56px 24px 59px 23px;
}
.s7 .sec-title {
	padding: 0;
	text-align: left;
}
.s7-form-text {
	font: 20px/1.4 'PT Sans', sans-serif;
	color: #444;
}
.s7-form {
	margin: 44px 0 0;
}
.s7 .form-group {
	margin-bottom: 10px;
}
.s7-form input {
	padding: 0 0 0 19px;
	width: 100%;
	height: 50px;
	border: 1px solid #cccccc;
	font: 16px/50px 'PT Sans', sans-serif;
	color: #999;
}
.s7-form textarea {
	padding: 13px 0 0 18px;
	width: 100%;
	height: 150px;
	border: 1px solid #cccccc;
	font: 16px 'PT Sans', sans-serif;
	color: #999;
	resize: none;
}
.s7-form button {
	display: block;
	margin-top: 26px;
	padding: 0;
	border: 0;
	height: 63px;
	width: 100%;
	background: #1080f2;
	border-radius: 2px;
	font: 24px/63px 'PT Sans', sans-serif;
	font-weight: 700;
	text-align: center;
	color: #fff;
}

.s8-map > img {
	height: 676px;
}

footer {
	background: #273140;
}
.footer-main {
	padding: 58px 0 0;
	text-align: center;
}
.footer-logo > img {
	width: 264px;
	height: auto;
}
.footer-text {
	margin: 10px 0 0;
	font: 14px 'PT Sans', sans-serif;
	color: rgba(255,255,255,0.2);
}
.footer-contacts {
	margin: 50px 0 0;
	font: 17.67px/2.2 'PT Sans', sans-serif;
	color: #fff;
}
.footer-bottom {
	margin: 63px 0 36px;
	padding: 16px 25px 0;
	border-top: 1px solid rgba(255,255,255,0.05);
	font: 13px 'PT Sans', sans-serif;
	color: rgba(255,255,255,0.2);
}
.footer-copy {
	float: left;
}
.footer-bottom > a {
	float: left;
	color: rgba(255,255,255,0.2);
}
.footer-terms {
	margin-left: 36px;
}
.footer-policy {
	margin-left: 38px;
}
.footer-social-links {
	float: right;
	margin-right: 3px;
}
.footer-social-links > a {
	float: left;
	position: relative;
	top: -8px;
	padding: 5px;
	font-size: 18px;
	color: rgba(255,255,255,0.2);
}

.s1-menu {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
.s1-menu > ul {
	position: absolute;
	left: 38px;
	top: 285px;
	margin: 0;
	padding: 0;
	width: calc(100% - 76px);
	list-style: none;
}
.s1-menu > ul > li {
	margin-bottom: 5px;
	padding: 16px 0;
	border-bottom: 2px solid #76aee6;
}
.s1-menu > ul > li:last-child {
	margin-bottom: 0;
	border-bottom: 0;
}
.s1-menu > ul > li > a {
	display: inline-block;
	padding: 5px 7px;
	font: 24px 'PT Sans', sans-serif;
	font-weight: 700;
	color: #b8d8f9;
}
.s1-menu > ul > li.active > a {
	color: #fff;
}

#map {
        height: 400px;
        width: 100%;
       }

#footer-nav{
	text-align: center;
	margin-left: 150px;
	margin-top: 20px;
}
			 .footer-nav {
			     max-width: 440px;
			     padding: 0;
			     margin: 0 auto;
			     margin-top: 5px;
					 float: left;
			 }
			 .footer-nav li {
			     width: 140px;
			     display: inline-block;
			     float: left;
			     margin-bottom: 30px;
			 }
			 .footer-nav li.el2 {
			     width: 170px!important;
			 }
			 .footer-nav a {
			     color: white;
			     font-family: PTSans;
			     font-size: 14px;
			     font-weight: 700;
			     padding: 0;
			     display: inline-block;
			     text-align: left;
			     float: left;
			     line-height: 1;
			     text-transform: uppercase;
			     -webkit-transition: 0.3s;
			     -o-transition: 0.3s;
			     transition: 0.3s;
			 }
			 .footer-nav a:hover {
			     text-decoration: none;
			     color: #1080f2
			 }


			 .s9-block-img > img {
			 	display: inline-block;
			 	width: 563px;
			 	height: auto;
			 }

			 .s9-block-img {
			 	text-align: center;
			 }

			 .features-tabs li {
			     background: url(/static/landingpage/img/checked.png) no-repeat left 20px;
			     padding-left: 40px;
			     list-style: none;
			     margin: 0;
			     color: #666;
			     font-family: PTSans;
			     font-size: 16px;
			     font-weight: 400;
			     line-height: 60px;
			 }

			 .s9-block-info-title {
			 	font: 24px 'PT Sans', sans-serif;
			 	font-weight: 700;
			 	color: #444444;
				text-align: center;
			 }

			 .alldprice{
			   position:relative;
			   left: 10%;
			   z-index: 10;
			   font-size: 38px;
			   color: #fff;
			 }
