{% extends 'layout.html' %}

{% block custom-css %}
    <!-- DataTable CSS -->
    <link href= "/static/css/jquery.dataTables.min.css" rel="stylesheet">

    <!-- DataTable -->
    <link rel="stylesheet" type="text/css" href="/static/plugins/datatables/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/plugins/datatables/extensions/Buttons/buttons.dataTables.min.css"/>

{% endblock %}

{% block custom-js %}
    <!-- DataTable JS -->
    <!-- DataTable -->
    <script type="text/javascript" src="/static/plugins/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="/static/plugins/datatables/extensions/Buttons/dataTables.buttons.min.js"></script>



{% endblock %}
{% block end_page_link_scripts %}
<!-- DataTable -->
<script type="text/javascript" src="/static/plugins/datatables/datatables.min.js"></script>
<script type="text/javascript" src="/static/plugins/datatables/extensions/Buttons/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/static/plugins/datatables/extensions/Buttons/Buttons-1.2.1/js/buttons.bootstrap.js"></script>
<script type="text/javascript" src="/static/plugins/datatables/extensions/Buttons/Buttons-1.2.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="/static/plugins/datatables/extensions/Buttons/Buttons-1.2.1/js/buttons.print.js"></script>
<script type="text/javascript" src="/static/plugins/datatables/extensions/Buttons/JSZip-2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="/static/plugins/datatables/extensions/Buttons/pdfmake-0.1.18/build/pdfmake.min.js"></script>
<script type="text/javascript" src="/static/plugins/datatables/extensions/Buttons/pdfmake-0.1.18/build/vfs_fonts.js"></script>
<script type="text/javascript" src="/static/plugins/datatables/extensions/Buttons/Buttons-1.2.1/js/buttons.html5.min.js"></script>

{% endblock %}



{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover dataTable" id="houzz">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>siteUrl</th>
                        <th>site</th>
                        <th>phone</th>
                        <th>oblast</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block endScript %}
<script>
var columns_payments =[
      {
          'data': 'id'
      },
      {
          'data': 'name'
      },
      {
          'data': 'siteUrl'
      },
      {
          'data': 'site'
      },
      {
          'data': 'phone'
      },
      {
          'data': 'oblast'
      }
];
var buttons_payments =[
    {
      extend: 'copyHtml5',
      exportOptions: { columns: ':visible' }
    },
    {
      extend: 'csvHtml5',
      exportOptions: { columns: ':visible' }
    },
    {
      extend: 'excelHtml5',
      exportOptions: { columns: ':visible' }
    },
    {
      extend: 'pdfHtml5',
      exportOptions: { columns: ':visible' }
    },
    {
      extend: 'print',
      exportOptions: { columns: ':visible' }
    }
];
$().ready(function(){
      $('#houzz').DataTable({
        "dom": 'Bflrtip',
        "buttons": [ buttons_payments ],
        "ajax": "/houzz.json",
        fnCreatedRow: function( nRow, aData, iDataIndex ) {
          console.log('fnCreatedRow');
            $(nRow).attr('id',aData.id);
        },
        "columns": columns_payments,
    });
});
$('#houzz').DataTable({
  "dom": 'Bflrtip',
  "buttons": [ buttons_payments ],
  "ajax": "/houzz.json",
  fnCreatedRow: function( nRow, aData, iDataIndex ) {
    console.log('fnCreatedRow');
      $(nRow).attr('id',aData.id);
  },
  "columns": columns_payments,
  "order": [[ 0, "desc" ]],
});
</script>
{% endblock %}
