{% extends 'layout.html' %}

{% block custom-css %}
    <!-- DataTable CSS -->
    <link href= "/static/css/jquery.dataTables.min.css" rel="stylesheet">

    <!-- DataTable -->
    <link rel="stylesheet" type="text/css" href="/static/plugins/datatables/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/plugins/datatables/extensions/Buttons/buttons.dataTables.min.css"/>

{% endblock %}

{% block custom-js %}
    <!-- DataTable JS -->
    <!-- DataTable -->
    <script type="text/javascript" src="/static/plugins/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="/static/plugins/datatables/extensions/Buttons/dataTables.buttons.min.js"></script>



{% endblock %}
{% block end_page_link_scripts %}
<!-- DataTable -->
<script type="text/javascript" src="/static/plugins/datatables/datatables.min.js"></script>
<script type="text/javascript" src="/static/plugins/datatables/extensions/Buttons/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/static/plugins/datatables/extensions/Buttons/Buttons-1.2.1/js/buttons.bootstrap.js"></script>
<script type="text/javascript" src="/static/plugins/datatables/extensions/Buttons/Buttons-1.2.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="/static/plugins/datatables/extensions/Buttons/Buttons-1.2.1/js/buttons.print.js"></script>
<script type="text/javascript" src="/static/plugins/datatables/extensions/Buttons/JSZip-2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="/static/plugins/datatables/extensions/Buttons/pdfmake-0.1.18/build/pdfmake.min.js"></script>
<script type="text/javascript" src="/static/plugins/datatables/extensions/Buttons/pdfmake-0.1.18/build/vfs_fonts.js"></script>
<script type="text/javascript" src="/static/plugins/datatables/extensions/Buttons/Buttons-1.2.1/js/buttons.html5.min.js"></script>

{% endblock %}



{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover dataTable" id="houzz">
                <thead>
                    <tr>
                      <th>id</th>
                      <th>name</th>
                      <th>img_name</th>
                      <th>url</th>
                      <th>img_id</th>
                      <th>img_googl</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block endScript %}
<script>
var columns_payments =[
    //{'data': 'id'},
    {'data': 'sku'},
    {'data': 'name'},
    {
        'render': function (data, type, row) {
          str ="";
          if(row.url_imgs){
            str = row.url_imgs;
          }else{
            str = row.url_img_price;
          }
          return str;
    }},    //{'data': 'col4'},
    /*{
        'render': function (data, type, row) {
          return '<code>'+row.col4+'</code> ';
    }},*/
    {'data': 'url'},
    {'data': 'img_id'},
    {
        'render': function (data, type, row) {
          return 'https://drive.google.com/uc?export=download&confirm=no_antivirus&id='+row.img_id;
    }},

        /*  sku=self.sku,
          name=self.name,
          price=self.price,
          url_img_price=self.url_img_price,
          url_imgs=self.url_imgs,
          attr=attr,*/

    /*{'data': 'col5'},
    {'data': 'col6'},
    {'data': 'col7'},
    {'data': 'col8'},
    {'data': 'col9'},
    {'data': 'col10'},
    {'data': 'col11'},
    {'data': 'col12'},
    {'data': 'col13'},
    {'data': 'col14'},
    {'data': 'col15'},
    {'data': 'col16'},
    {'data': 'col17'},
    {'data': 'col18'},
    {'data': 'col19'},
    {'data': 'col20'},
    {'data': 'col21'},
    {'data': 'col22'},
    {'data': 'col23'},
    {'data': 'col24'},
    {'data': 'col25'},
    {'data': 'col26'},
    {'data': 'col27'},
    {'data': 'col28'},
    {'data': 'col29'},
    {'data': 'col30'},
    {'data': 'col31'},
    {'data': 'col32'},
    {'data': 'col33'},
    {'data': 'col34'},
    {'data': 'col35'},
    {'data': 'col36'},
    {'data': 'col37'},
    {'data': 'col38'},
    {'data': 'col39'},
    {'data': 'col40'},
    {'data': 'col41'},
    {'data': 'col42'},
    {'data': 'col43'},
    {'data': 'col44'},
    {'data': 'col45'},
    {'data': 'col46'},
    {'data': 'col47'},
    {'data': 'col48'},
    {'data': 'col49'},
    {'data': 'col50'},
    {'data': 'col51'},
    {'data': 'col52'},
    {'data': 'col53'},
    {'data': 'col54'},
    {'data': 'col55'},
    {'data': 'col56'},
    {'data': 'col57'},
    {'data': 'col58'},
    {'data': 'col59'},
    {'data': 'col60'},
    {'data': 'col61'},
    {'data': 'col62'},
    {'data': 'col63'},
    {'data': 'col64'},
    {'data': 'col65'},
    {'data': 'col66'},
    {'data': 'col67'},
    {'data': 'col68'},
    {'data': 'col69'},
    {'data': 'col70'},
    {'data': 'col71'},
    {'data': 'col72'},
    {'data': 'col73'},
    {'data': 'col74'},
    {'data': 'col75'},
    {'data': 'col76'},
    {'data': 'col77'},
    {'data': 'col78'},
    {'data': 'col79'},
    {'data': 'col80'},
    {'data': 'col81'},
    {'data': 'col82'},
    {'data': 'col83'},
    {'data': 'col84'},
    {'data': 'col85'},
    {'data': 'col86'},
    {'data': 'col87'}*/
];
var buttons_payments =[
    {
      extend: 'copyHtml5',
      exportOptions: { columns: ':visible' }
    },
    {
      extend: 'csvHtml5',
      exportOptions: { columns: ':visible' }
    },
    {
      extend: 'excelHtml5',
      exportOptions: { columns: ':visible' }
    },
    {
      extend: 'pdfHtml5',
      exportOptions: { columns: ':visible' }
    },
    {
      extend: 'print',
      exportOptions: { columns: ':visible' }
    }
];
$().ready(function(){
      $('#houzz').DataTable({
        "dom": 'Bflrtip',
        "buttons": [ buttons_payments ],
        "ajax": "/houzz.json",
        fnCreatedRow: function( nRow, aData, iDataIndex ) {
          console.log('fnCreatedRow');
            $(nRow).attr('id',aData.id);
        },
        "columns": columns_payments,
    });
});
$('#houzz').DataTable({
  "dom": 'Bflrtip',
  "buttons": [ buttons_payments ],
  "ajax": "/watch_img.json",
  fnCreatedRow: function( nRow, aData, iDataIndex ) {
    console.log('fnCreatedRow');
      $(nRow).attr('id',aData.id);
  },
  "columns": columns_payments,
  "order": [[ 0, "desc" ]],
});
</script>
{% endblock %}
